body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.filters-container {
    position: sticky;
    top: 0;
    background-color: white;
    border: solid 1px grey;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-group {
    margin-bottom: 10px;
}

.filter-group input,
.filter-group select {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .filters-container {
        position: relative;
        margin-top: 0;
        box-shadow: none;
    }

    .col-md-3, .col-md-9 {
        width: 100%;
        margin-bottom: 20px;
    }

    .filters-container input,
    .filters-container select {
        width: 100%;
    }
}
