/* Estilo general para evitar el desbordamiento horizontal de la página */
body {
    overflow-x: hidden;
}
 
.table-hover tbody tr:hover td {
    font-weight: bold;
  }
  
  /* CAMBIO DE COLOR ICONO FILTRO ACTIVO */
 .filtro-activo {
  color: #0d6efd; /* Azul Bootstrap */
}
